<%- include('partials/header'); %>

<body>
  <div class="container h-100" style="padding-top: 20vh;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <form id="resetpassword_form" action="" method="POST">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input id="reset_email" type="email" name="email" class="form-control" required />
                    <label class="form-label" for="reset_email">Email address</label>
                  </div>

                  <!-- Old Password input -->
                  <div class="form-outline mb-4">
                    <input id="reset_oldpassword" name="oldpassword" type="password" class="form-control" required />
                    <label class="form-label" for="reset_oldpassword">Old Password</label>
                  </div>

                  <!-- New Password input -->
                  <div class="form-outline mb-4">
                    <input id="reset_newpassword" name="newpassword" type="password" class="form-control" required />
                    <label class="form-label" for="reset_newpassword">New Password</label>
                  </div>

                  <!-- Repeat Password repeat -->
                  <div class="form-outline mb-4">
                    <input id="reset_repeatpassword" name="repeatpassword" type="password"" class=" form-control" required />
                    <label class="form-label" for="reset_repeatpassword">Repeat Password</label>
                  </div>

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>

                  <!-- Login buttons -->
                  <div class="text-center">
                    <p>Already have account? <a href="./">Login</a></p>

                    <%- include('partials/sociallogin'); %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      $("#reset_oldpassword").on("keyup", function() {
        this.setCustomValidity("");
      });

      $("#reset_newpassword").on("keyup", function() {
        this.setCustomValidity("");
      });

      $("#reset_repeatpassword").on("keyup", function() {
        this.setCustomValidity("");
      });

      $("#resetpassword_form").on("submit", function(e) {
        e.preventDefault();

        const reset_oldpassword = $("#reset_oldpassword");
        const reset_newpassword = $("#reset_newpassword");
        const reset_repeatpassword = $("#reset_repeatpassword");

        if (reset_newpassword.val() !== reset_repeatpassword.val()) {
          reset_newpassword.setCustomValidity('password not match');
          reset_newpassword.reportValidity();
          return false;
        }

        if (!checkPasswordvalidity(reset_oldpassword))
          return false;
        if (!checkPasswordvalidity(reset_newpassword))
          return false;
        if (!checkPasswordvalidity(reset_repeatpassword))
          return false;

        $.ajax({
          type: "POST",
          dataType: "json",
          url: "./resetpassword",
          data: {
            email: $("#reset_email").val(),
            oldpassword: $("#reset_oldpassword").val(),
            newpassword: $("#reset_repeatpassword").val(),
          },
        }).done(function(data) {
          showMessage(data.message);
        });

        return false;
      });
    });
  </script>
</body>
<%- include('partials/footer'); %>