<%- include('partials/header'); %>

<body>
  <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <form id="changeusername_form" action="" method="POST">

                    <input name="email" type="hidden" id="changeusername_email" />

                    <!-- Use Name input -->
                    <div class="form-outline mb-4">
                      <input name="username" type="text" id="changeusername_username" class="form-control" required />
                      <label class="form-label" for="changeusername_username">New User Name</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Change UserName</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(function() {
      $("#changeusername_form").on("submit", function(e) {
        e.preventDefault();

        let email = localStorage.getItem("email");
        if (!email)
          throw new Error('localStorage email is empty');

        $("#changeusername_email").val(email);

        $.ajax({
          type: "POST",
          dataType: "json",
          url: "./changeusername",
          data: {
            email: $("#changeusername_email").val(),
            username: $("#changeusername_username").val(),
          },
        }).done(function(data) {
          if (data.succeed)
            window.location.href = "./";
          else {
            showMessage(data.message);
          }
        });
        return false;
      });
    })
  </script>
</body>
<%- include('partials/footer'); %>