<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageModalLabel">Message</h5>
        </div>
        <div class="modal-body">
            <div class="row text-center ">
                <h2 id ="messageModal_text" class="text-uppercase text-center mb-5">              		
                    please check your email
                </h2>
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" id = "messageModal_btn_resendemail" class="btn btn-primary" onclick="resendEmail()" style="display:none">Resend Email Verification</button>
          
          <button type="button" id = "messageModal_btn_close" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

